<!DOCTYPE html>
<html lang="en">

<!-- Head Section -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>大衆酒場 Tsujicho</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">


    <!-- material picker用CDN -->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/themes/default.css" integrity="sha256-wtVxHQXXtr975G710f51YDv94+6f6cuK49PcANcKccY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/themes/default.date.css" integrity="sha256-U24A2dULD5s+Dl/tKvi5zAe+CAMKBFUaHUtLN8lRnKE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/themes/default.time.css" integrity="sha256-dtpQarv++ugnrcY7o6Gr3m7fIJFJDSx8v76jjTqEeKE=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.11/dist/css/bootstrap-select.min.css">

    <style>
        @font-face {
            font-family: Meiryo;
            src: "/static/css/kokoro/kokoro.otf";
        }
        body {
            text-align: center;
            background-color: #ffffff;
            font-family: "kokoro";
        }
        h1, h2, h3, h4 {
            font-family: "";
        }
        #navigation-container {
            background-color: #ffffff;
            opacity: 1.0;
        }
        #navigation-container a {
            opacity: 1.0;
            color: black;
        }
        #header-container h1 {
            background-color: #ffd700;
        }
        #carousel {
            margin-top: 10%;
        }
        #menu-container {
            background-color: #ffffff;

        }
        #menu-container h2 {
            padding-top: 5%;
            padding-bottom: 3%;
            margin-top: 5%;
            margin-bottom: 2%;
        }
        .card {
            border: 1px solid #d3d3d3;
            padding: 5%;
        }
        .card-body {
            background-color: #ffffff;
        }
        .card-text {
            padding-top: 5%;
            padding-bottom: 5%;
            margin-top: 20%;
            margin-bottom: 5%;
        }
        #layout-container {
            background-color: #ffffff;
            border: 1px solid black;
        }
        #layout-container h2 {
            padding-top: 5%;
            padding-bottom: 3%;
            margin-top: 5%;
            margin-bottom: 2%;
        }
        #layout-container h5 {
            padding-top: 5%;
            padding-bottom: 3%;
        }
        #layout-reserved {
            text-align: left;
        }
        #info-container {
            background-color: #ffffff;
        }
        #info-container h2 {
            padding-top: 5%;
            padding-bottom: 3%;
            margin-top: 5%;
            margin-bottom: 2%;
        }
        img {
            max-width: 100%;
            height: auto;
            text-align: center;
        }
        .carousel-item img {
            max-width: 90%;
            height: auto;
        }
        ul {
            text-align: left;
        }
        #googlemap p {
            text-align: left;
        }

    </style>

</head>

<!-- Body Section -->
<body style='padding-top:4.5rem;'>

    <!-- Navigation Section -->
        <nav class='navbar fixed-top navbar-expand-xl navbar-light' id="navigation-container">
            <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class='collapse navbar-collapse' id='navbarNavDropdown'>
                <ul class='navbar-nav mr-auto'></ul>
                <ul class='navbar-nav'>
                    <li class="nav-item"><a class="nav-link" href="#menu">メニュー</a></li>
                    <li class="nav-item"><a class="nav-link" href="#layout">お座席</a></li>
                    <li class='nav-item'><a class='nav-link' href="#info">インフォ</a></li>
                    <li class='nav-item'><a class='nav-link' data-toggle="modal" href="#modal-reservation">予約</a></li>
                    <li class='nav-item'><a class='nav-link' data-toggle="modal" href="#modal-login">ログイン</a></li>
                </ul>
            </div>
        </nav>




    <!-- Header Section -->
    <div id="header" class="mt-5 mb-5 pt-2 pb-2">
        <div id="header-container" class="container">
            <h3 class="display-3 font-weight-bold mb-3 mb-5">地元の人が集うお店！</h3>
            <h1 class="display-4 font-weight-bold mt-5 mb-5"><small>大衆酒場</small>Tsujicho</h1>
        </div>

        <!-- Carousel Section -->
        <div id="carousel">
            <div class="container">
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
                    <!-- スライドさせる画像の設定 -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-60" src="/static/img/img_intro/cheers1.jpg" alt="Coming Soon">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-60" src="/static/img/img_intro/cheers2.jpg" alt="Coming Soon">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-60" src="/static/img/img_intro/cheers3.jpg" alt="Coming Soon">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <hr>


    <!-- Menu Section-->
    <div id="menu" class="mb-5">
        <div class="container" id="menu-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold">メニューはこちら</h2>
                </div>
            </div>
            <div class="row">
                <!-- ここにMenuトップを記述 -->
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="/static/img/img_menu/drinks/all-drinks.jpg" alt="drink">
                        <div class="card-body">
                            <h2 class="card-title font-weight-bold">ドリンク</h2>
                            <ul class="list-group">
                                <li class="list-group-item">ビール</li>
                                <li class="list-group-item">カクテル・ハイボール</li>
                                <li class="list-group-item">チューハイ</li>
                                <li class="list-group-item">泡盛・焼酎</li>
                                <li class="list-group-item">ソフトドリンク</li>
                            </ul>
                            <p class="card-text">上記以外にも各種取り揃えております。</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/static/img/img_menu/foods/kushi_2/kushi14_2.jpg" alt="food">
                        <div class="card-body">
                            <h2 class="card-title font-weight-bold">フード</h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a data-toggle="modal" href="#modal-food" data-category="2" data-type="1">うちなー料理</a></li>
                                <li class="list-group-item"><a data-toggle="modal" href="#modal-food" data-category="2" data-type="2">串焼き</a></li>
                                <li class="list-group-item"><a data-toggle="modal" href="#modal-food" data-category="2" data-type="3">焼き・揚げ・炒め物</a></li>
                                <li class="list-group-item"><a data-toggle="modal" href="#modal-food" data-category="2" data-type="4">麺・ご飯物</a></li>
                                <li class="list-group-item"><a data-toggle="modal" href="#modal-food" data-category="2" data-type="5">サラダ・小鉢</a></li>
                            </ul>
                            <p class="card-text">上記以外にも各種取り揃えております。</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu modal記述スペース -->
            <!-- ここにMenu一覧を記述 -->
            <div class="modal" tabindex="-1" role="dialog" id="modal-food">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title display-4 font-weight-bold">フードメニュー</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-group">
                                <div class="card">
                                    <img class="card-img-top" src="" alt="" id="menu-img1">
                                    <div class="card-body">
                                        <h3 class="card-title" id="menu-name1"></h3>
                                        <p class="card-text" id="menu-description1"></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="" alt="" id="menu-img2">
                                    <div class="card-body">
                                        <h3 class="card-title" id="menu-name2"></h3>
                                        <p class="card-text" id="menu-description2"></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="" alt="" id="menu-img3">
                                    <div class="card-body">
                                        <h3 class="card-title" id="menu-name3"></h3>
                                        <p class="card-text" id="menu-description3"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <hr>


    <!-- Layout Section -->
    <div id="layout" class="mb-5">
        <div class="container" id="layout-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold">お座席タイプ</h2>
                </div>
            </div>
            <div>
                <h5>お客様の人数に応じてお席をご案内できます。</h5>
            </div>

            <!-- ここにlayoutカードグループを記述 -->
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="/static/img/img_layout/table1.jpg" alt="カウンター">
                    <div class="card-body">
                      <h5 class="card-title">カウンター</h5>
                      <p class="card-text">1〜3名様にオススメです</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/img/img_layout/table2.jpg" alt="テーブル席">
                    <div class="card-body">
                      <h5 class="card-title">テーブル席</h5>
                      <p class="card-text">2〜8名様までご対応可能です</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/img/img_layout/table4.jpg" alt="お座敷">
                    <div class="card-body">
                      <h5 class="card-title">お座敷</h5>
                      <p class="card-text">4〜16名様までご対応可能です</p>
                    </div>
                </div>
            </div>

            <div class="m-3 p-4" id="layout-reserved">
                <h5>お店の貸切りも可能です。(※要予約)</h5>
            </div>
        </div>
    </div>


    <hr>


    <!-- Infomation Section -->
    <div id="info" class="mb-5">
        <div class="container" id="info-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold">お店の情報</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d894.8398132831328!2d127.67119046837969!3d26.21751407989313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e569362dfa0a21%3A0xd2de2cefc26a77bd!2z5aSn6KGG6YWS5aC0IFRTVUpJQ0hP!5e0!3m2!1sja!2sjp!4v1570891315476!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" >
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <h3>Info</h3>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <ul>
                                <li>電話 : 090-1942-9814</li>
                                <li>住所 : 那覇市辻2-6-11</li>
                                <li>最寄り駅 : ゆいレール「旭橋駅」より 徒歩約10分</li>
                                <li>最寄りバス停 : 那覇バス「上之蔵」バス停より 徒歩約2分</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 mt-4">
                            <h3>owner's voice</h3>
                            <p>僕はこの地域で生まれ育ち、この地域が大好きです。</p><p>地元の人も観光やビジネスで来られた方もこの地域に縁がある方が気軽に集えるお店にしていきたいので、お近くに来られた際はぜひご来店ください。</p>
                        </div>

                        <div class="col-sm-6 col-md-6 mt-5">
                            <a href="#" class="card">
                                <img src="/static/img/img_info/owner.jpg" alt="Owner's photo Coming Soon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Reservation Form Section -->
    <div class="modal" tabindex="-1" role="dialog" id="modal-reservation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title display-4 font-weight-bold">予約フォーム</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col">
                                <label>お名前:　</label>
                                <input type="text" class="form-control" id="reservation-name" placeholder="山田　太郎">
                            </div>
                            <div class="form-group col">
                                <label>ご連絡先:　</label>
                                <input type="number" class="form-control" id="reservation-address" placeholder="090-xxxx-xxxx">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col">
                                <label>日付:　</label>
<!--                                    <input type="text" class="form-control datepicker" id="reservation-time">-->
                                <input type="text" class="form-control" id="datepicker">
                            </div>
                            <div class="form-group col">
                                <label>開始時間:　</label>
<!--                                <input type="text" class="form-control" id="reservation-hour-time">-->
                                <input type="text" class="form-control" id="timepicker">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col">
                                <label>人数:　</label>
                                <input type="number" class="form-control" id="reservation-number" placeholder="半角数字">
                            </div>
                            <div class="form-group col">
                                <!-- コース料理は下のselect pickerを使用予定 -->
                                <label>コース:　</label>
                                <input type="number" class="form-control" id="reservation-course">
                            </div>
<!--                            <div class="form-group col">-->
<!--                                <div class="dropdown col-xs-12 col-md-12">-->
<!--                                    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                        人数を選んでください-->
<!--                                    </button>-->
<!--                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">-->
<!--                                        <button class="dropdown-item" type="button" id="select-table1" data-toggle="modal" data-target="#layout-modal" data-table1="1" data-table2="2"> 〜 3人</a></button>-->
<!--                                        <button class="dropdown-item" type="button" id="select-table2" data-toggle="modal" data-target="#layout-modal" data-table1="2" data-table2="3">2人 〜 4人</a></button>-->
<!--                                        <button class="dropdown-item" type="button" id="select-table3" data-toggle="modal" data-target="#layout-modal" data-table1="4" data-table2="2">4人 〜</a></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                         </div>

    <!--                    コースの予約はselectpickerを使用予定-->
    <!--                    <div class="row">-->
    <!--                        <div class="form-group col">-->
    <!--                            <label>ご予約のコース:　</label>-->
    <!--                            <input type="text" class="form-control" id="reservation-cource" placeholder="山田　太郎">-->
    <!--                        </div>-->
    <!--                     </div>-->
                        <hr>
                        <div class="row">
                            <div class="form-group col-12">
                                <label>備考</label>
                                <textarea class="form-control" id="reservation-description" rows="3"></textarea>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary" id="btn-reservation">送信する</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ここに表示するLayout内容を記述 -->
    <div class="modal" tabindex="-1" role="dialog" id="layout-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title display-4 font-weight-bold">お座席タイプ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-deck selected-layout" id="selected-layout">

                        <div class="card">
                            <img class="card-img-top" src="" alt="" id="table-img1">
                            <div class="card-body">
                                <h3 class="card-title" id="table-type1"></h3>
                                <p class="card-text" id="table-description1"></p>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top" src="" alt="" id="table-img2">
                            <div class="card-body">
                                <h3 class="card-title" id="table-type2"></h3>
                                <p class="card-text" id="table-description2"></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Login Form Section -->
    <div class="modal" tabindex="-1" role="dialog" id="modal-login">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">ログインページ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>管理者用ページへ</p>
                  <form action="/login" method="post">
                      <div class="form-group">
                            <label>ログインID</label>
                            <input type="number" class="form-control" name="number" placeholder="半角英数字">
                      </div>
                      <div class="form-group">
                            <label>ログインパスワード</label>
                            <input type="password" class="form-control" name="password" placeholder="パスワード">
                      </div>
                            <button type="submit" class="btn btn-primary" id="btn-login">送信する</button>
                    </form>
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- pickadate.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.js" integrity="sha256-Ir/Txs2EGYQz5HcltQCu06WpUQRhmU4tgHHYbNV0+Cs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.date.js" integrity="sha256-WpEr1Ovyxho8DRYP1DyZgjVonSAGF4uDVVZXoe379vw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.time.js" integrity="sha256-bJ1e5Ijjt6P/NJvFu4MEFbFWAeXUQq1hq0Wwc1yEl4w=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/legacy.js" integrity="sha256-GRynYEnSw2nk0OSq2+snjKepSc8+H35fJmMDYxevje4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/translations/ja_JP.js" integrity="sha256-OZ+3rqy70Z42APY1AMr8e8Or0ILywHUBLtFMm+oPeNE=" crossorigin="anonymous"></script>

        <!-- material picker用CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/ja.js"></script>
<!--        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>-->
    <script>
          // ここにjQuery書く
          $(function(){
                //言語の設定。defaultは1に設定。
                let language = 1;

                //予約フォームでコースを選択する際のselectpickerの設定
                // $('.selectpicker').selectpicker();
                // for(var i=0; i<data.data.length; i++){
                //    $('.selectpicker').append($('<option>').html(data.data[i].name).val(data.data[i].name));
                // }
                // $('.selectpicker').selectpicker('refresh');


                //デートピッカー用スクリプト
                $("#datepicker").pickadate();

                //タイムピッカー用スクリプト
                $("#timepicker").pickatime({
                    format: 'HH:i', // 24時間表記
                    interval: 15,   // 表示間隔
                    min: [17,00],   // 予約開始時間
                    max: [23,00]    // 予約終了時間
                });


                // layout sectionのdropボタン押下の処理
                $('#layout-modal').on('show.bs.modal', function(event){
                    console.log('#layout-modal event: ', event.relatedTarget.dataset);
                    let dataset = event.relatedTarget.dataset;
                    let section = 1;
                    let seats = [
                        {'type': Number(dataset.table1)},
                        {'type': Number(dataset.table2)}
                    ]
                    console.log('#layout-modal seats: ', seats);
                    console.log('#layout-modal array type: ', typeof seats);

                    let data = {
                        'section': section,
                        'languageId': language,
                        'seatsIds': seats
                    };
                    data = JSON.stringify(data);

                    $.ajax({
                        'type': 'POST',
                        'contentType': 'application/json',
                        // 'url': 'http://127.0.0.1:5000/post_db', //local用 ルーティング先のurlをフルパスで記述
                        'url': 'https://tsujicho.herokuapp.com/post_db', //herokuにアップした際に使用予定
                        'data': data,
                    }).then(function(response){
                        console.log('ajax response: ', response);
                        console.log('ajax response typeof: ', typeof response);

                        $('#table-img1').attr('src', response.data[0][2]);
                        $('#table-img2').attr('src', response.data[1][2]);

                        $('#table-type1').text(response.data[0][0]);
                        $('#table-type2').text(response.data[1][0]);

                        $('#table-description1').text(response.data[0][1]);
                        $('#table-description2').text(response.data[1][1]);
                    },
                    function(error){
                        console.log('ajax error: ', error);
                    });
                });



                // menu sectionのdropボタン押下の処理
                $('#modal-food').on('show.bs.modal', function(event){
                    console.log('#modal-food event: ', event.relatedTarget.dataset);
                    let dataset = event.relatedTarget.dataset;
                    let section = 2;
                    let data = {
                        'section': section,
                        'languageId': language,
                        'category': Number(dataset.category),
                        'type': Number(dataset.type)
                    };
                    data = JSON.stringify(data);
                    console.log('modal-food data: ', data)

                    $.ajax({
                        'type': 'POST',
                        'contentType': 'application/json',
                        // 'url': 'http://127.0.0.1:5000/post_db', //local用 ルーティング先のurlをフルパスで記述
                        'url': 'https://tsujicho.herokuapp.com/post_db', //herokuにアップした際に使用予定
                        'data': data,
                    }).then(function(response){
                        console.log('ajax response: ', response);
                        console.log('ajax response name: ', response.data[0][0]);
                        console.log('ajax response description: ', response.data[0][1]);
                        console.log('ajax response typeof: ', typeof response);

                        $('#menu-img1').attr('src', response.data[0][2]);
                        $('#menu-img2').attr('src', response.data[1][2]);
                        $('#menu-img3').attr('src', response.data[2][2]);

                        $('#menu-name1').text(response.data[0][0]);
                        $('#menu-name2').text(response.data[1][0]);
                        $('#menu-name3').text(response.data[2][0]);

                        $('#menu-description1').text(response.data[0][1]);
                        $('#menu-description2').text(response.data[1][1]);
                        $('#menu-description3').text(response.data[2][1]);
                    },
                    function(error){
                        console.log('ajax error: ', error);
                    });
                });


                //予約フォームの保存ボタン押下時の処理
                $('#btn-reservation').on('click', function(){
                    let name = $('#reservation-name').val();
                    let address = $('#reservation-address').val();
                    let number = $('#reservation-number').val();
                    let description = $('#reservation-description').val();

                    //コースメニューの内容が決定するまではコースの値は0にしておく
                    //コースメニューは数値でDBに登録する
                    let course = 0;
                    console.log('course: ', course);

                    //datepickerとtimepickerの値を取得
                    let datepick = $('#datepicker').val();
                    console.log('datepick: ', datepick);

                    let beforeDate = moment(datepick, 'YYYY年MM月DD日');
                    let afterDate = beforeDate.format('YYYY-MM-DD')
                    console.log('afterDate: ', afterDate);

                    let timepick = $('#timepicker').val();
                    console.log('timepick: ', timepick);

                    let datetime = afterDate + ' ' + timepick;
                    console.log('datetime: ', datetime);

                    $.ajax({
                        'type': 'POST',
                        // 'url': 'http://127.0.0.1:5000/reservation', //local用 ルーティング先のurlをフルパスで記述
                        'url': 'https://tsujicho.herokuapp.com/reservation', //herokuにアップした際に使用予定
                        data: {
                            'name': name,
                            'address': address,
                            'time': datetime,
                            'number': number,
                            'course': course,
                            'description': description
                        }
                    }).then(function(response){
                        console.log('modal-reservation ajax response: ', response);
                        alert('予約しました。');
                        $('#modal-reservation').modal('hide');
                    }, function(error){
                        console.log('modal-reservation ajax error: ', error);
                        alert('予約の登録は出来ませんでした。');
                    })
                });

          });

        </script>

    </body>
</html>
